{% extends 'layout.html' %}
{% load common %}

{% block ehead %}
<style media="screen">
.item:hover{
  background-color: #f8f9fa;
  cursor: pointer;
}
</style>
<title>Home</title>
{% endblock %}

{% block body %}
<main role="main">

  <div class="jumbotron bg-white border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="font-weight-bold">Discover your next favorite thing</h4>
          <small class="text-muted">Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</small>
          {% if not user.is_authenticated %}<div class="d-block mt-3">
            <a type="button" class="btn btn-lg btn-default btn-ph border text-white small" href="{% url 'signup' %}">
              Sign Up
            </a>
          </div>{% endif %}
        </div>
        <div class="col-md-6">
          <img class="img-fluid float-right" src="https://s3.producthunt.com/static/kitty_265x244%402x.png" width="240" height="220" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        {% if s_results %}
        <div class="bg-white border rounded mb-5">
          <h5 class="px-4 pt-4 pb-2 font-weight-normal">Search Results for '{{request.GET.title}}'</h5>
          <hr class="mx-3 my-1">

          {% for product in s_results %}
          <div onclick="window.location='{% url 'info' product.slug %}';" class="item row p-3">
            <div class="col-md-auto">
              <img class="img-fluid" src="{{product.icon.url}}" width="80" height="80" alt="">
            </div>
            <div class="col-sm-auto">
              <div class="">
                <h5 class="font-weight-light">{{product.title}}</h5>
                <small class="text-muted d-block">{{product.trim}}</small>
              </div>
            </div>
            <div class="col-sm-auto flex-grow-1">{% is_voted product user as pvoted %}
              <a href="{% url 'upvote' product.slug %}?next={{request.build_absolute_uri}}" class="btn btn-sm btn-default {% if not pvoted %}btn-success{% else %}btn-danger{% endif %} float-right">
                {% if not pvoted %}<i class="fas fa-caret-up fa-fw"></i>{% else %}<i class="fas fa-caret-down fa-fw"></i>{% endif %}
                <small class="text-dark font-weight-bold text-white">{{product|get_votes}}</small>
              </a>
            </div>
          </div>
          <hr class="my-1">
          {% endfor %}
        </div>
        {% endif %}
        <div class="bg-white border rounded">
          <h5 class="px-4 pt-4 pb-2 font-weight-normal">Newly Added Products</h5>
          <hr class="mx-3 my-1">
          {% for product in products %}
          <div onclick="window.location='{% url 'info' product.slug %}';" class="item row p-3">
            <div class="col-md-auto">
              <img class="img-fluid" src="{{product.icon.url}}" width="80" height="80" alt="">
            </div>
            <div class="col-sm-auto">
              <div class="">
                <h5 class="font-weight-light">{{product.title}}</h5>
                <small class="text-muted d-block">{{product.trim}}</small>
              </div>
            </div>
            <div class="col-sm-auto flex-grow-1">{% is_voted product user as pvoted %}
              <a href="{% url 'upvote' product.slug %}?next={{request.build_absolute_uri}}" class="btn btn-sm btn-default {% if not pvoted %}btn-success{% else %}btn-danger{% endif %} float-right">
                {% if not pvoted %}<i class="fas fa-caret-up fa-fw"></i>{% else %}<i class="fas fa-caret-down fa-fw"></i>{% endif %}
                <small class="text-dark font-weight-bold text-white">{{product|get_votes}}</small>
              </a>
            </div>
          </div>
          <hr class="my-1">
          {% endfor %}
        </div>

      </div>
      <div class="col-md-4">

      </div>
    </div>

  </div>

</main>
{% endblock %}
